name: Test

on:
  push:
    branches: ["main", "*.x", "*-dev"]
  pull_request:
    branches: ["main", "*.x", "*-dev"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, latest]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

  test-lts-with-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js LTS
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test -- --coverage
      - name: Upload code coverage
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: coverage
          path: coverage/lcov.info

  examples:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: |
          npm ci
          npm install -g tsx
      - run: npm run build
      - name: Run Examples
        run: |
          examples=$(find ./examples -name "*.ts")
          for example in $examples; do
            echo "Run example $example"
            tsx $example > /dev/null
            exit_code=$?
            if [ $exit_code -ne 0 ]; then
              echo "Error executing $example"
              exit 1
            fi
          done
